[Unit]
Description=Trainer Weekly Report (Sun *-*-* 18:00:00)

[Timer]
OnCalendar=Sun *-*-* 18:00:00
Persistent=true

[Install]
WantedBy=timers.target
